{{choose-group user=user setGroup=(action (mut group)) group=group}}

{{#if group}}
  {{#if validUsers}}
    {{validUsers.length}} users selected.
    <button {{action (mut validUsers) null}}>Clear Uploaded Users</button>
  {{else}}
    {{upload-data group=group sendValidUsers=(action (mut validUsers))}}
  {{/if}}
{{/if}}

{{#if (and group validUsers)}}
  {{match-groups addMatch=(action 'addMatch') removeMatch=(action 'removeMatch') matchedGroups=matchedGroups unmatchedGroups=unmatchedGroups group=group}}
{{/if}}

{{#if (and allUnmatchedGroupsMatched (gt validUsers.length 0))}}
  {{finalize-users users=validUsers matchedGroups=matchedGroups group=group}}
{{/if}}
