<div class='login-form'>
  <p>
    You must supply a valid API token in order to use this tool.
    You can generate a token for yourself at <a href='{{apiHost}}/myprofile'>{{apiHost}}/myprofile</a>
  </p>
  <label>Token: </label>
  {{one-way-input
    value=jwt
    update=(action (mut jwt))
  }}
  <button {{action 'login'}}>Login</button>

  <p>{{error}}</p>
</div>
